.svg circle {
  transition: 0.3s;
}

.svg path {
  transition: 0.3s;
}

.svg:hover circle {
  fill: #28AAE9;
}

.svg:hover path {
  fill: #FFFFFF;
}

@media (max-width: 540px) {
  .svg circle {
    transition: 0.1s;
  }
  
  .svg path {
    transition: 0.1s;
  }
}