.aboutUsContainer {
  display: grid;
  grid-template-areas: 
    'header list'
    'text list';
  row-gap: 20px;
  column-gap: 10px;
}

.aboutUsContainer h2 {
  grid-area: header;
  text-transform: uppercase;
  color: #262626;
  font-size: 41px;
  font-weight: 700;
  line-height: 0.74;
  width: fit-content;
  margin-left: -3px;
}

.content {
  grid-area: text;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  padding: 20px 0 20px 20px;
  border-left: 6px solid #9B111E;
  max-width: 714px;
}

.benefits {
  grid-area: list;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  list-style: none;
  height: fit-content;
  padding-top: 20px;
  justify-self: end;
  border-top: 6px solid #9B111E;
}

.benefits li {
  padding-left: 18px;
  height: fit-content;
  position: relative;
}

.benefits li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: #9B111E;
  border-radius: 50%;
}

@media (min-width: 541px) and (max-width: 1439px) {
  .aboutUsContainer h2 {
    font-size: 38px;
  }

  .content {
    font-size: 14px;
    max-width: 660px;
  }
  
  .benefits {
    font-size: 14px;
  }
}

@media (max-width: 540px) {
  .aboutUsContainer {
    grid-template-areas:
      'header'
      'text'
      'list';
    row-gap: 20px;
    column-gap: 0;
  }

  .aboutUsContainer h2 {
    font-size: 21px;
    margin-left: -1px;
  }

  .content {
    font-size: 14px;
    font-weight: 300;
    padding: 12px 0 12px 12px;
    border-left: 4px solid #9B111E;
  }

  .benefits {
    justify-self: start;
    grid-template-columns: auto;
    row-gap: 7px;
    color: #FFF;
    font-size: 16px;
    font-weight: 200;
    padding: 16px 0 16px 16px;
    border-top: none;
    border-left: 4px solid #9B111E;
    width: 100%;
    background-color: rgba(155, 17, 30, 0.75);
  }
  
  .benefits li {
    padding-left: 0;
  }
  
  .benefits li::before {
    display: none;
  }
}

@media (max-width: 393px) {
  .aboutUsContainer h2 {
    font-size: 19.26px;
  }

  .content {
    font-size: 12px;
  }
}