.contacts {
  background-color: #000000;
  border-bottom: 1px solid #FFFFFF;
}

.contactsContainer {
  display: grid;
  row-gap: 40px;
  align-content: center;
  background-image: url(/girl.png);
  background-repeat: no-repeat;
  background-position: right 0px top 0;
  height: 538px;
}

.contactsContainer h2 span {
  display: block;
  line-height: 0.74;
  width: fit-content;
}

.contactsContainer h2 > *:nth-child(1) {
  color: #9B111E;
  text-transform: uppercase;
  font-size: 120px;
  font-weight: 700;
  margin-left: -5px;
  padding-bottom: 20px;
}

.contactsContainer h2 > *:nth-child(2) {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 700;
  margin-left: -1px;
}

.contactsContainer p {
  max-width: 818px;
  font-size: 20px;
  font-weight: 500;
}

.socials {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 40px;
  justify-self: start;
}

.socials svg {
  width: 70px;
  height: 70px;
}

@media (min-width: 541px) and (max-width: 1439px) {
  .contactsContainer h2 > *:nth-child(1) {
    font-size: 108px;

  }
  
  .contactsContainer h2 > *:nth-child(2) {
    font-size: 54px;
  }

  .contactsContainer p {
    max-width: 735px;
    font-size: 18px;
  }

  .socials svg {
    width: 63px;
    height: 63px;
  }
}

@media (max-width: 540px) {
  .contactsContainer {
    row-gap: 16px;
    background-image: none;
    height: fit-content;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .contactsContainer h2 > *:nth-child(1) {
    font-size: 54.3px;
    margin-left: -1.5px;
    padding-bottom: 10px;
  }
  
  .contactsContainer h2 > *:nth-child(2) {
    font-size: 27.2px;
    margin-left: 0px;
  }
  
  .contactsContainer p {
    max-width: 370px;
    font-size: 14px;
    font-weight: 200;
  }

  .socials {
    justify-self: center;
  }

  .socials svg {
    width: 42px;
    height: 42px;
  }
}

@media (max-width: 393px) {
  .contactsContainer h2 > *:nth-child(1) {
    font-size: 49.5px;
  }

  .contactsContainer h2 > *:nth-child(2) {
    font-size: 24.7px;
  }
}