.footer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  row-gap: 32px;
  font-size: 14px;
}

.footer h3 {
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
}

.footer a {
  font-weight: 300;
  position: relative;
}

.footer a::before {
  content: '';
  position: absolute;
  left: 50.3%;
  transform: translateX(-50%);
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: #5C5C5C;
  transition: 0.3s;
}

.footer a:hover::before {
  width: 100%;
}

.nav {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: column;
  row-gap: 16px;
  column-gap: 32px;
  justify-self: end;
  width: fit-content;
  justify-items: start;
}

.services {
  grid-template-columns: repeat(3, auto);
  justify-self: start;
}

.services h3 {
  grid-column: span 3;
}

.services > *:nth-child(6) {
  grid-row: 3 / 4;
}

.menu {
  grid-template-columns: repeat(2, auto);
}

.menu h3 {
  grid-column: span 2;
}

.copyright {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 32px;
  width: fit-content;
}

.copyright > p:nth-child(1) {
  font-weight: 500;
}

.copyright > p:nth-child(2) {
  font-weight: 300;
}

@media (max-width: 1439px) {
  .footer {
    font-size: 12px;
  }

  .footer h3 {
    font-size: 13px;
  }
}