.headerTop {
  background-color: #262626;
}

.headerTopContainer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.mobMenuButton {
  display: none;
}

.menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 72px;
  justify-self: center;
  font-size: 24px;
  font-weight: 400;
}

.menuItem {
  padding: 10px 0;
  position: relative;
}

.menuItem::before {
  content: '';
  position: absolute;
  left: 50.3%;
  transform: translateX(-50%);
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #9B111E;
  transition: 0.3s;
}

.menuItem:hover::before {
  width: 100%;
}

.socials {
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(4, auto);
  width: fit-content;
}

.socials a {
  line-height: 0;
}

.headerMainContainer {
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-items: start;
  row-gap: 20px;
  background-image: url(/sensei.jpg);
  background-repeat: no-repeat;
  background-position: right 18px top 0;
  height: 600px;
}

.headerMain {
  background-color: #333333;
}

.mainTitle {
  max-width: 930px;
  align-self: end;
}

.mainTitle h1 span {
  display: block;
  text-transform: uppercase;
  line-height: 0.74;
}

.s1 {
  font-size: 74px;
  font-weight: 600;
  padding-bottom: 20px;
  margin-left: -5px;
}

.s2 {
  font-size: 41px;
  font-weight: 500;
  margin-left: -2px;
}

.mainTitle h2 {
  font-size: 24px;
  font-weight: 400;
  padding-top: 20px;
}

.button {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 500;
  background-color: #9B111E;
  padding: 15px 30px;
  align-self: start;
  border: 3px solid #FFFFFF;
  border-radius: 30px;
  transition: 0.5s;
}

.button:hover {
  background-color: #BF2233;
}

.mobMenu {
  display: none;
}

@media (min-width: 541px) and (max-width: 1439px) {
  .mainTitle {
    max-width: 950px;
    align-self: end;
    background: linear-gradient(to right, #333333, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    backdrop-filter: blur(0px);
    padding: 20px 0 20px 0;
    animation: blurMainTitleBack 10s infinite;
  }

  @keyframes blurMainTitleBack {
    0% {
      backdrop-filter: blur(0px);
    }
    50% {
      backdrop-filter: blur(3px);
    }
    100% {
      backdrop-filter: blur(0px);
    }
  }
}

@media (max-width: 540px) {
  .header {
    position: relative;
    overflow: hidden;
  }

  .headerTopContainer {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .logo {
    justify-self: start;
    margin-top: -2px;
  }

  .logo > p:nth-child(1) {
    font-size: 36px;
    max-width: 89.5px;
  }
  
  .logo > p:nth-child(2) {
    font-size: 18.6px;
  }
  
  .logo > p:nth-child(3) {
    font-size: 16.05px;
    align-self: end;
  }

  .socials {
    justify-self: center;
    column-gap: 12px;
  }

  .socials svg {
    width: 22px;
    height: 22px;
  }

  .menu {
    display: none;
  }

  .mobMenuButton {
    display: grid;
    row-gap: 9px;
    z-index: 2;
  }

  .mobMenuButton > .mobMenuLineOpen:nth-child(1) {
    transform: translateY(calc(9px + 100%)) rotate(400deg);
  }

  .mobMenuButton > .mobMenuLineOpen:nth-child(2) {
    opacity: 0;
  }

  .mobMenuButton > .mobMenuLineOpen:nth-child(3) {
    transform: translateY(calc(-9px - 100%)) rotate(-40deg);
  }

  .mobMenuLine {
    width: 40px;
    height: 3px;
    background-color: #FFF;
    border-radius: 2px;
    transition: 1s;
  }

  .headerMain {
    background-image: url(/sensei-mob.webp);
    background-position: right 0 top 0;
    background-repeat: no-repeat;
    position: relative;
  }

  .headerMain::before {
    content: '';
    width: 100%;
    height: 140px;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 0;
  }

  .headerMain::after {
    content: '';
    width: 100%;
    bottom: 0;
    height: 88px;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    z-index: 0;
  }

  .headerMainContainer {
    background-image: none;
    height: 556px;
    position: relative;
    z-index: 1;
  }

  .mainTitle {
    align-self: start;
    text-align: start;
    padding: 20px 0;
  }
  
  .s1 {
    font-size: 29.68px;
    padding-bottom: 8px;
    margin-left: -1.5px;
    width: fit-content;
  }
  
  .s2 {
    font-size: 16.4px;
    margin-left: -0.5px;
  }
  
  .mainTitle h2 {
    font-size: 13px;
    font-weight: 100;
    padding-top: 10px;
    max-width: 370px;
  }

  .button {
    justify-self: center;
    font-size: 24px;
    padding: 10px 20px;
    align-self: end;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    margin-bottom: 20px;
    transition: 0.1s;
  }

  .mobMenu {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: grid;
    justify-items: center;
    align-items: center;
    transition: 0.7s;
  }
  
  .mobMenuOpen {
    left: 0;
  }
  
  .mobMenuContent {
    display: grid;
    grid-auto-flow: row;
    justify-items: start;
  }
  
  .menuItem {
    font-size: 20px;
  }
  
  .menuItem::before {
    transition: 0.1s;
  }
}

@media (max-width: 393px) {
  .headerMain::before {
    height: 136.9px;
  }

  .s1 {
    font-size: 26.9px;
  }
  
  .s2 {
    font-size: 14.9px;
  }
}