.service {
  display: grid;
  grid-template-rows: repeat(2, auto);
  row-gap: 8px;
  border-radius: 10px;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
  padding: 10px 5px;
}

.service > *:nth-child(1) {
  font-size: 17px;
  font-weight: 400;
  line-height: normal;
  margin-left: -0.5px;
}

.button {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  background-color: #D87E6D;
  padding: 12px;
  transition: 0.5s;
  display: grid;
  overflow: hidden;
  align-self: end;
  width: fit-content;
  border-radius: 8px;
}

.button:hover {
  background-color: #CD5B45;
}

.button p {
  color: #FFF;
  transition: 0.5s;
}

@media (min-width: 541px) and (max-width: 1439px) {
  .service > *:nth-child(1) {
    font-size: 15px;
  }

  .button {
    font-size: 13px;
    padding: 10px;
  }
}

@media (max-width: 540px) {
  .service {
    width: 100%;
  }

  .button {
    grid-template-columns: auto;
    transition: 0.1s;
  }

  .button > p:nth-child(2) {
    display: none;
  }

  .button p {
    width: 100%;
  }

  .button:hover p {
    margin-left: 0;
  }
}

@media (max-width: 393px) {
  .service > *:nth-child(1) {
    font-size: 16.5px;
  }
}