.article {
  display: grid;
  row-gap: 20px;
  max-width: 800px;
  font-size: 16px;
}

.article img {
  max-width: 100%;
  height: auto;
}

.article h2 {
  font-size: 28px;
  font-weight: 300;
  margin-left: -1px;
  margin-bottom: -14px;
}

.article p {
  line-height: 1.5;
}

.article a {
  color: #0000FF;
  text-decoration: underline;
}

.article a:hover {
  text-decoration: none;
}

.article a:focus {
  color: #9B111E;
}

@media (min-width: 541px) and (max-width: 1439px) {
  .article {
    font-size: 14px;
  }
}

@media (max-width: 540px) {
  .article {
    font-size: 14px;
  }

  .article h2 {
    font-size: 26px;
  }
}