.reviews {
  display: grid;
  row-gap: 40px;
  overflow: hidden;
}

.title {
  color: #262626;
  font-size: 41px;
  font-weight: 700;
  text-align: center;
  line-height: 0.74;
}

.reviewsContainer {
  justify-self: center;
  display: grid;
  column-gap: 160px;
  grid-template-columns: repeat(4, auto);
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}

.noTransition {
  transition: none !important;
}

.activeReview {
  opacity: 1;
  transform: scale(1);
}

.inactiveReview {
  opacity: 0.6;
  transform: scale(0.9);
}

.circlesContainer {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  column-gap: 56px;
}

.circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #FFF;
  cursor: pointer;
  border: 3px solid #9B111E;
  transition: background-color 0.3s;
}

.activeCircle {
  background-color: #9B111E;
}

@media (min-width: 541px) and (max-width: 1439px) {
  .reviewsContainer {
    column-gap: 120px;
  }

  .circlesContainer {
    column-gap: 50px;
  }
  
  .circle {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 540px) {
  .reviews {
    row-gap: 20px;
  }
  
  .title {
    font-size: 22px;
  }

  .reviewsContainer {
    column-gap: 72px;
  }
}

@media (max-width: 393px) {
  .title {
    font-size: 22px;
  }
}