.service {
  display: grid;
  grid-template-rows: repeat(3, auto) 1fr;
  row-gap: 8px;
  width: 435px;
}

.service > *:nth-child(1) {
  color: #9B111E;
  font-size: 40px;
  font-weight: 400;
  border-bottom: 4px solid #9B111E;
  line-height: 0.7;
}

.service > *:nth-child(2) {
  font-size: 22px;
  font-weight: 500;
  line-height: 1;
}

.service > *:nth-child(3) {
  font-size: 14px;
  font-weight: 300;
}

.button {
  text-transform: uppercase;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  background-color: #9B111E;
  border-top: 2.5px solid #FFF;
  border-bottom: 2.5px solid #FFF;
  padding: 15px 0;
  transition: 0.5s;
  display: grid;
  grid-template-columns: repeat(2, auto);
  overflow: hidden;
  align-self: end;
}

.button:hover {
  background-color: #BF2233;
}

.button p {
  width: 435px;
  transition: 0.5s;
}

.button:hover p {
  margin-left: -100%;
}

@media (min-width: 541px) and (max-width: 1439px) {
  .service {
    row-gap: 4px;
    width: 380px;
  }

  .service > *:nth-child(1) {
    font-size: 30px;
  }
  
  .service > *:nth-child(2) {
    font-size: 19px;
  }
  
  .service > *:nth-child(3) {
    font-size: 12px;
  }

  .button {
    font-size: 15px;
    border-top: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
    padding: 8px 0;
  }

  .button p {
    width: 380px;
  }
}

@media (max-width: 540px) {
  .service {
    row-gap: 8px;
    width: 100%;
  }
  
  .service > *:nth-child(1) {
    font-size: 36px;
    border-bottom: 3px solid #9B111E;
  }
  
  .service > *:nth-child(2) {
    font-size: 18.5px;
  }
  
  .service > *:nth-child(3) {
    font-size: 14px;
    font-weight: 100;
  }
  
  .button {
    grid-template-columns: auto;
    transition: 0.1s;
  }
  
  .button p {
    width: 100%;
    transition: 0.1s;
  }

  .button:hover p {
    margin-left: 0;
  }

  .button > *:nth-child(2) {
    display: none;
  }
}

@media (max-width: 393px) {
  .service > *:nth-child(2) {
    font-size: 17px;
  }

  .service > *:nth-child(3) {
    font-size: 13px;
  }
}