.main {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 40px;
  color: #262626;
  font-weight: 400;
}

.more {
  color: #333333;
  display: grid;
  align-self: start;
  justify-self: end;
  gap: 20px;
}

.more > *:nth-child(1) {
  justify-self: end;
  font-size: 40px;
  font-weight: 100;
  line-height: 1;
  padding-bottom: 20px;
  text-transform: uppercase;
  position: relative;
}

@media (min-width: 541px) and (max-width: 1439px) {
  .more > *:nth-child(1) {
    font-size: 36px;
  }
}

@media (max-width: 540px) {
  .main {
    grid-template-columns: auto;
    column-gap: 0;
    row-gap: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .more {
    grid-template-columns: auto;
    column-gap: 0;
  }

  .more > *:nth-child(1) {
    justify-self: start;
    grid-column: 1 / 1;
    font-size: 25.9px;
    padding-bottom: 0;
    margin-left: 0;
  }
}

@media (max-width: 393px) {
  .more > *:nth-child(1) {
    font-size: 23.5px;
  }
}